body,html{
   background-color: #0d0d36; 
   min-width: 1200;
    margin:0;
    padding:0;
    
}
header{
    width:100vh;  
    margin:19px 200px 0 200px;
  
}
nav{
    display:flex;flex-direction: row;
  justify-content: space-between;
flex-wrap: nowrap;
   /* display text issue resolved */
    gap: 4.5rem;
    padding:0;
    height: 3vh;
  

}

.logo i{
    color:white;
    width:103.64px;
    font-size: large;
    font-weight:bolder;
    top:33%;
    font-family: 'Montserrat', sans-serif;
}
.logo img{
    top:30%;
    height:21.49px;
    width:103.67px;
}
.options{
    color:white;
 row-gap: 3rem;
   
}
.options a{
    text-decoration: none;
    display: flex;
    margin:2px;
    color:#ffffff; text-transform: uppercase;
    font-weight: 700 bold;
     line-height: 14.63px;
     font-size: 12px;
     font-family: 'Montserrat', sans-serif;
   
}
 .active ,.options a:hover {
border-bottom: 2px solid Red;
}

.specs{
background:linear-gradient(180deg,#10FFC6 0%,#10FFFF 100%);
border-radius:2px;
color:black;
width:5rem;
font-weight: 600;
font-size: 10px;
overflow: hidden;
display: block;
margin-top: 2px;   
height:12px
}

.search-bar{
    width:100%;
max-width: 700px;
display:flex;
align-items: center;

background: rgba(255, 255, 255, 0.1);
}
.search-bar input{
    background:transparent;
    flex:1;
    border:0;
    font-size: 20px;
    outline:none;
    color:#cac7ff;
}
::placeholder{
 
font-weight: 600 bold;
color: #FFFFFF;
padding-left: 6%;
font-size: 19px;
line-height: 15px;
text-transform: capitalize;
opacity: 0.4;
margin-left:32px;
}

.search-bar img {
padding: 4px 3px 3px 3px;
margin-left:5px;
}
.search-bar button {
    border:0;
    border-radius:50%;
    width:11.85px;
    height:11.85px;
    background: #58629b44;
    cursor:pointer;
}
.specs1{
    display: inline;
    height:10px;
}
.club{
    display: inline-flex;
}
/* todo */
/* @media (max-width:900) {
.options a{
    
}
nav div a{
    font-size:12px ;
}
} */

/* packs heading */

.heading {
    margin-top:90px;
    margin-left: 200px;
    font-size:60px;
    color:#ffffff;
  font-family: 'Montserrat', sans-serif;
}
.sub-h{
display: flex;
flex-wrap: wrap;
}
hr{
 border-top:0.5px solid grey;
  opacity: 0.2;
width:1100px;
}

.sub-h p{
color:grey;
font-family: 'Montserrat', sans-serif;
margin-right:300px;
line-height: 24.38px;
text-align: justify;
font-size:20px;
width:1228px;
white-space: normal;
height: 48px;
margin-left:200px;
}
.packs{
    margin-top:3.2rem;
    margin-left:12.5rem;
    margin-bottom: 0;
}
.packs h2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin:0;
}
.packs p{
    color:grey;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    line-height: 17px;
    font-weight:500;
    margin-top:0px;
}
.img-fluid{
   width:80%;
   height:auto;
   object-fit: cover;
   object-position: bottom;
}
@media screen and (max-width:800px) 
{
    .packs  {
        padding:0px 20px;
    }
    .packs img{
        width:100%;
        height:auto;
    }
}
@media   (max-width:1000px)
{
    .sub-h 
    {
    padding:0px 0px 20px 0px;
   
    }
}

/* cards css */

.cards{
    margin:0 auto;
 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left:200px;
    flex-flow: wrap;
gap:20px;
font-family: sans-serif;
}
.card_content{
   padding:12px;
   display: flex;
   flex-direction: column;
   text-align: left;
   transform: none;
}
.card_image{
    width:100%;
    display: block;
}
.card-title{
    font-size:24px;
    color:#ffffff;
    font-weight: 500 bold;
    line-height: 21.94px;
    font-family: 'Montserrat', sans-serif;
    white-space: nowrap;
}
.card-grade
{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    color:#ffffff;
    opacity: 0.8px;
}
.card-date{
    color: #10EEDD;
    font-family: 'Montserrat', sans-serif;

}

.card-price
{
    margin-top:10px;
color:#ffffff;
font-family: Montserrat;
font-size: 28px;
font-weight: 700;
line-height: 34px;
text-align: left;

}
@media screen and (max-width:500px) {
    .card{
        width:80%;
    }
}
@media screen and (max-width:1000px)
{
    .card{
        width:50%;
        height: auto;
    }
}